.footer {
  display: flex;
  background-color: #680BAB;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  &__logo {
    z-index: 4;
    img {
      height: 30px;
    }
  }
  &__name {
    color: #FFCE00;
    text-decoration: none;
  }
}