.header {
  min-height: 50px;
  position: relative;
  background-color: #680BAB;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  &__logo {
    left: 50%;
    border: 3px solid #FFCE00;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateX(-50%);
    img {
      width: 60%;
      height: 60%;
    }
  }
}